@import url('https://fonts.googleapis.com/css?family=Bad+Script|Lato');
$background:rgb(167,
162,
162);
$fontParagraph: 'Lato',
sans-serif;
$fontTitle: 'Bad Script',
cursive;
$background2: #337ab7 //#f7484e;